## Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bin/
obj/

## Visual Studio Tooling
.vs/
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Roslyn Cache
.php/
.sonarlint/

## NuGet Packages
*.nupkg
# The packages folder can be ignored because NuGet restores them on build
**/packages/*
!**/packages/build/

## ASP.NET Core Secrets & Local Settings
# Never commit your real secrets!
appsettings.Development.json
usersecrets.json
dtproj.user

## Node.js (if using SPA templates like Angular/React)
node_modules/
npm-debug.log*

## Operating System Files
.DS_Store
Thumbs.db