@{
    ViewData["Title"] = "Home Page";
}

<div id="banner-block">
    <div id="info-banner">
        <!-- <img />-->
    </div>
</div>
<div class="page-block">
    <h1>Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
