:root {
    --floralwhite: #FBFBF2;
    --alabastergrey: #E5E6E4;
    --dustgrey: #CFD2CD;
    --silver: #A6A2A2;
    --rosygranite: #847577;
    --offwhite: #FDFDFD;
    --offblack: #1A1A1A;
    --global-spacing: 5%;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: var(--global-spacing);
    padding-right: var(--global-spacing);
    align-items: center;
}

#brand-icon {
    display: flex;
    height: 100%;
    margin: 0;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

#brand-icon a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

#brand-icon img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Keeps logo proportions perfect */
    margin: 0;
    box-sizing: border-box;
}

nav {
    flex: 1;
    margin: 10px;
}

#navi {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    box-sizing:border-box;
    justify-content: right;
}

.menu-link-container{
    width: auto;
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

.menu-links {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: var(--offblack);
    user-select: none;
    -webkit-user-select: none;
}

.menu-links:hover{
    color: var(--silver);
    text-decoration: underline;
}

#important-link {
    color: var(--offwhite);
    background-color: var(--rosygranite);
    border-radius: 75px 75px 75px 75px;
    box-sizing: border-box;
    padding: 10%;
    /* box-shadow: -1px -1px 2px 2px #5E5658 inset; */
}

#important-link:hover {
    text-decoration: none;
    background-color: var(--silver);
}

#maindiv {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
}

main{
    width: 100%;
    box-sizing: border-box;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    height: 50px;
    background-color: var(--alabastergrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--global-spacing);
    padding-right: var(--global-spacing);
    font-family: "Dosis", sans-serif;
}