.page-block {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
}

.page-block h1 {
    font-family: "Dosis", sans-serif;
    font-size: 250%;
}

#banner-block {
    width: 100%;
    aspect-ratio: 21/4;
    box-sizing: border-box;
    background-color: var(--silver);
}